* {
  background-color: #3b3b3b;  
  font: #cfc2c2;
}

img.newsPic{
  max-width: 1050px;
}

.row {
  border: #818181 10px;
}

.list-group-item {
  line-height: 2.5;
}

.container {
  transition: margin-left .5s;
  padding: 20px;

}
#addPlayerB {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}




#addPlayerA {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}

#currentPlayer{
  font-family: 'Karla', sans-serif;
  font-size: 24px;
  margin-left: 10px;
  font-weight: bold;
}

#headerText {
  font-family: 'Saira Stencil One', cursive;
  margin-left: auto;
  margin-right: auto;
  font-size: 86px;
}
#headerText2 {
  font-family: 'Saira Stencil One', cursive;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}
/* #header2 {
  position: Fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
  padding:20px;
  
} */

#headerTextAfterSearch {
  font-family: 'Saira Stencil One', cursive;
}





.headerRow{
  
  font-family: 'Saira Stencil One', cursive;
  background-clip: #818181;

}

.dSideBar {
  height: 100%;
  width : 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left:0;
  background-color: #111111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  font-family: 'Karla', sans-serif;
}

.dSideBar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.dSideBar a:hover {
  color: #f1f1f1;
}

.dSideBar .closeBar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size:36px;
  margin-left:50px;
}

@media screen and (max-height: 450px) {
  .dSideBar {padding-top: 15px;}
  .dSideBar a {font-size: 18px;}
}



.sideButtonD{
  background-color: aqua;
  border: 0px;
  border-radius: 5px;
  padding: 6px 12px;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  color: #f1f1f1
}

.functionButton{
  background-color: aqua;
  border: 0px;
  border-radius: 5px;
  padding: 6px 12px;
  margin-left: 5px;
  margin-right: 5px;
  color: #f1f1f1
}

.playerDataD{
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.playerDataD button {
  background-color: inherit;
  float: left;
  border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
margin-left: auto;
margin-right: auto;
}

.playerDataD button:hover{
  background-color: #dddddd
}

.playerDataD button.active{
  background-color: #ccc;
}

tr {
  background-color: #f1f1f1
}
td{
  background-color: #f1f1f1
}

.dataPageContent {
  display: none;
  padding:6px 12px;
  border: 1px solid #ccc;
  border-top:none;
  background-color: #f1f1f1
}

#currentPlayer{
  background-color: #f1f1f1
}

#tab{
  background-color: #f1f1f1
}

th {
  background-color: #f1f1f1
}

.playerCard {
  position: relative;
  width: 50%;
  max-width: 300px;
  border: #818181;
  border-width: 5px;
  margin-left: auto;
  margin-right: auto;

}

.sideTitle {
  border-width: 5px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 50%;
  max-width: 300px;
  text-align: center

}

.playerPicA{
  display: block;
  width: 100%;
  height:auto;
}
.playerPicB{
  display: block;
  width: 100%;
  height:auto;
}

.imageInfo {
  position: absolute;
  background-color: #818181;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 20px;
  padding:10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto
}



.teamSide {
  float: left;
  width: 50%;
  
}

#afterSearch{  
}

#searchButton{
  float: right;
}

#searchButton:hover{
  color: red;
  transition: 0.2s ease;
}

#h1{
  font-size: 100px
}
